EP03.Rproj
.Rhistory
.RData
*.Rproj.user
*.history
.gz
/inst/tutorials/Practical1/*.html
/inst/tutorials/Practical2/*.html
/inst/tutorials/Practical3/*.html
/inst/tutorials/Practical4/*.html
/inst/tutorials/Practical5/*.html
